<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog view engine sample</title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href=""><h1>Blog sample</h1></a>
        <p>A sample site</p>
      </div>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>
    <div class="about content">
      <h1>About us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
        incidunt quasi repudiandae architecto! Ad, totam sed. Eaque optio
        consectetur blanditiis est! Illum, eligendi quos exercitationem omnis
        commodi sit quaerat voluptate!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur
        aspernatur minus neque commodi harum similique ipsam, illum totam
        eligendi alias nisi, provident asperiores obcaecati, deserunt ipsum.
        Consequatur, fugit ducimus accusantium porro dolorem quod laboriosam
        esse optio deleniti fuga sapiente temporibus. Dolorum, ipsa. Sapiente
        dolor recusandae sed culpa est doloremque dolorem! Doloremque natus sint
        ex ad architecto ratione veritatis, dicta nisi.
      </p>
    </div>
  </body>
</html>
