<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Found</title>
  <style>
    body {
      background-color: crimson;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 100%;
      flex-direction: column;
    }
  </style>
</head>
<body>
  <h2>404 NOT FOUND!</h2>
  <p>Page not exist</p>
</body>
</html>