<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About page</title>
  <style>
    body {
      width: 100%;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: yellow;
      background-image: linear-gradient(to bottom right,red,yellow);
    }
  </style>
</head>
<body>
  <h2>About page</h2>
  <p> This is sample about page</p>
</body>
</html>