<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles.css">
  <style>
    body {
      width:100vw;
      overflow-x: hidden;
      background: gainsboro;
      color: blueviolet;
      padding-bottom: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      position: relative;
      min-height: 100vh;
      font-size: 14px;
    }

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
    }

    ul li {
      padding: 0 5px;
    }

    a {
      color: teal;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 100%;
    }

    input {
      height: 50px;
    }

    .snippet {
      color: gray;
      font-size: 12px;
    }

    button {
      height: 70px;
      background-color: green;
      border: none;
      border-radius: 8px;
      margin: 5px 0;
    }

    ul {
      list-style: none;
    }

    footer {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
      width: 100%;
      background: orangered;
      color: white;
      font-size: 16px;
    }
  </style>
  <title>Blog view engine sample | <%= title %></title>
</head>
